#!/usr/bin/env python3
# Copyright 2026 Canonical Ltd.

import ops
import pathlib
from ops.model import ActiveStatus

from charmlibs.seceng import utils
from charmlibs.seceng.base import Snap, Package, SecEngCharmBase


class {{ name|capitalize }}Charm(SecEngCharmBase):
    """Charm the service."""

    package_install_list = [Package(name='{{ name }}', ppa='ubuntu-security-infra')]
    templates = [pathlib.Path('templates.yaml')]

    def __init__(self, framework: ops.Framework):
        super().__init__(framework)
        framework.observe(self.on.config_changed, self._on_config_changed)
        framework.observe(self.on.secret_changed, self._on_secret_changed)
        framework.observe(self.on.upgrade_charm, self._on_upgrade_charm)

    def _on_config_changed(self, event: ops.ConfigChangedEvent) -> None:
        self._install_snaps()
        self._install_ppa_and_packages()
        self._install_templates()
        self.unit.status = ActiveStatus('ready (config)')

    def _on_secret_changed(self, event: ops.SecretChangedEvent) -> None:
        if event.secret.id is not None:
            self._install_templates(dirty_secrets={event.secret.id})
        self.unit.status = ActiveStatus('ready (secret)')

    def _on_upgrade_charm(self, event: ops.UpgradeCharmEvent) -> None:
        self._install_templates()
        self.unit.status = ActiveStatus('ready (upgrade)')

if __name__ == "__main__":  # pragma: nocover
    ops.main({{ name|capitalize }}Charm)
